@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  background-color: #2b2d42;
}

#landing-page {
  min-height: 100vh;
}

a {
  text-decoration: none;
  cursor: pointer;
}

input, textarea{
  width: 100%;
  background-color: #2b2d42;
  color: white;
  outline: none;
  border: 3px solid #9999a1;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 40px;
  transition: all 300ms ease;
}

label{
  font-size: 14px;
  font-weight: bold;
}

textarea{
  resize: vertical;
  height: 100px;
  margin-top: 8px;
}

input:hover, textarea:hover{
  border-color: #adb5bd;
}

input:focus, textarea:focus{
  border-color: #1a8fe3;
}

.container {
  padding: 50px 0;
  width: 100%;
}

.blue {
  color: #1a8fe3;
  position: relative;
}

.underline:after {
  content: "";
  position: absolute;
  bottom: 3px;
  height: 1px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
  background-color: #1a8fe3;
}

.underline:hover:after {
  left: 0;
  width: 100%;
}

li {
  list-style: none;
}

.nav {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  position: sticky;
  top: 0;
  color: #adb5bd;
  background-color: #2b2d42;
  z-index: 9999;
}

.nav__link--list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__link {
  margin: 0 12px;
}

.nav__link--anchor {
  font-size: 16px;
  font-weight: 500;
  position: relative;
  transition: all 300ms ease;
}

.nav__link--anchor:hover {
  color: #1a8fe3;
}

.nav__logo {
  font-size: 20px;
  font-weight: 700;
  color: #1a8fe3;
}

.btn {
  background-color: transparent;
  border: 1px solid #1a8fe3;
  color: #1a8fe3;
  padding: 12px 16px;
  border-radius: 4px;
  margin-left: 14px;
  line-height: 1;
  font-weight: 500;
  transition: all 300ms ease;
}

.btn:hover {
  background-color: #1a8fe3;
  color: #edf2f4;
}

.header {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.header__small--text {
  font-size: clamp(14px, 5vw, 20px);
  color: #1a8fe3;
  margin-bottom: 20px;
  margin-left: 4px;
  font-weight: 500;
  line-height: 1.1;
}

.header__big--text {
  font-size: clamp(40px, 8vw, 70px);
  color: #edf2f4;
  line-height: 1.3;
}

.header > h3 {
  color: #9999a1;
  margin-bottom: 8px;
}

.header__para {
  max-width: 540px;
  width: 100%;
  font-size: 18px;
  color: #9999a1;
}

.social__link--list {
  margin-top: 20px;
}

.social__link {
  color: #edf2f4;
  font-size: clamp(16px, 3vw, 24px);
  margin-right: 16px;
  border-radius: 50%;
  position: relative;
  top: 0;
  transition: all 300ms ease;
}

.social__link:hover {
  top: -5px;
  color: #1a8fe3;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll__icon {
  width: 20px;
  height: 30px;
  border: 2px solid #1a8fe3;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll__icon::after {
  content: "";
  width: 4px;
  height: 6px;
  background-color: #1a8fe3;
  border-radius: 2px;
  animation: scroll 1000ms infinite alternate-reverse;
}

.click {
  transition: all 300ms ease;
  cursor: pointer;
}

.click:hover {
  transform: scale(1.1);
}

@keyframes scroll {
  0% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(-3px);
  }
}

.mail__btn{
  width: 70px;
  height: 70px;
  font-size: 32px;
  border-radius: 50%;
  border: none;
  background-color: #1a8fe3;
  color: white;
  position: fixed;
  bottom: 32px;
  right: 40px;
  z-index: 100;
  box-shadow: 0 12px 30px 0 rgb(0, 0, 0, 0.2);
}

.btn__menu{
  background-color: transparent;
  border: none;
  font-size: 32px;
  text-align: center;
  color: #1a8fe3;
  display: none;
  cursor: pointer;
}

.menu__backdrop{
  position: absolute;
  background-color: #2b2d42;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 300ms ease;
  opacity: 0;
  visibility: hidden;
}

.menu--open .menu__backdrop{
  visibility: visible;
  opacity: 1;
}

.menu--open{
  max-height: 100vh;
  overflow-y: hidden;
}

.menu__links{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list{
  padding: 32px 0;
}

.menu__link{
  font-size: 40px;
  color: #adb5bd;
}

.btn__menu--close{
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 8px;
  color: #1a8fe3;
}

/*
TECH STACK
*/

.row {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

#techstack {
  padding: 0 20px;
}

.section__title {
  font-size: clamp(32px, 8vw, 40px);
  font-weight: 700;
  color: #edf2f4;
  text-align: center;
  margin-bottom: 20px;
}

.language__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.language {
  width: calc(100% / 5);
  display: flex;
  justify-content: center;
  position: relative;
}

.language:hover .language__img {
  filter: brightness(80%);
  opacity: 0.85;
  transform: scale(0.9);
}

.language:hover .language__name {
  transform: scale(1);
  opacity: 1;
}

.language__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 16px;
}

.language__img {
  width: 100%;
  max-width: 100px;
  transition: all 300ms ease;
}

.language__name {
  position: absolute;
  bottom: 0;
  transform: scale(0);
  transition: all 300ms ease;
  opacity: 0;
  font-size: 16px;
  color: #edf2f4;
  font-weight: 500;
}

/*

PROJECTS

*/

#projects{
  padding: 0 20px;
}

#projects .row{
  max-width: 1000px;
}

#projects .section__title{
  margin-bottom: 48px;
}

.project{
  margin-bottom: 120px;
}

.project__img{
  width: 100%;
  transition: all 600ms ease;
}

.project__wrapper{
  position: relative;
  border-radius: 20px;
  box-shadow: 0px -10px 20px 0px rgba(0,0,0,0.2);
  overflow: hidden;
}

.project__wrapper:hover .project__description{
  opacity: 1;
  transform: translateY(-50%);
}

.project__wrapper:hover .project__img{
  transform: scale(1.07);
  filter: blur(5px);
}

.project__wrapper:hover .project__wrapper--bg{
  opacity: 0.7;
}

.project__description{
  position: absolute;
  top: 50%;
  left: 90px;
  transform: translateY(100%);
  opacity: 0;
  transition: opacity 300ms, transform 450ms ease;
  color: white;
  max-width: 550px;
}

.project__wrapper--bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1d25;
  opacity: 0;
  transition: opacity 300ms ease;
}

.project__description--title{
  font-size: 40px;
}

.project__description--sub-title{
  margin-top: 8px;
}

.project__description--link{
  color: white;
  font-size: 20px;
  margin-right: 16px;
  transition: all 300ms ease;
}

.project__description--link:hover{
  color: #1a8fe3;
}

.project__description--para{
  margin: 16px 0;
}

/*

MODAL

*/

.modal__open .nav{
  display: none;
}

.modal__open .nav{
  opacity: 0;
  transition: all 300ms ease;
}

.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 1100px;
  height: 700px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  visibility: hidden;
  z-index: -1;
  transition: visibility 1s, z-index 1s, box-shadow 0.5s ease;
}

.modal__open .modal{
  z-index: 60;
  box-shadow: 0 20px 80px 0 rgb(0, 0, 0, .55);
  visibility: visible;
}

.modal__half{
  width: 50%;
  padding: 40px 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition: all 300ms ease-in;
}

.modal__open .modal__about,
.modal__open .modal__contact{
  transform: translateX(0%);
}

.modal__about{
  background-color: #adb5bd;
  transform: translateX(-110%);
}

.modal__contact{
  background-color: #2b2d42;
  color: white;
  transform: translateX(110%);
}

.modal__title{
  font-size: 26px;
}

.modal__title:first-child{
  margin-bottom: 12px;
}

.modal__sub-title{
  margin: 12px 0 24px 0;
  font-size: 14px;
}

.modal__para{
  margin-bottom: 12px;
  line-height: 1.75;
}

.form__item{
  margin-bottom: 20px;
}

.form__submit{
  background-color: #1a8fe3;
  border: 2px solid #1a8fe3;
  color: white;
  font-weight: bold;
  width: 100%;
  max-width: 240px;
  padding: 12px 24px;
  font-size: 20px;
  transition: all 300ms ease;
  border-radius: 4px;
}

.form__submit:hover{
  border-color: white;
  background-color: transparent;
}

.form__submit:active{
  border-color:#1a8fe3;
  color: #1a8fe3;
}

.modal__overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.modal__overlay--loading{
  background-color: #1c1d25;
  font-size: 80px;
}

.modal__overlay--success{
  background-color: #4bb543;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding: 28px;
}

.modal__overlay--visable{
  z-index: 1;
  display: flex;
}

.fa-spinner{
  animation: spinner 750ms infinite linear;
}

@keyframes spinner {
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}

.modal__exit{
  position: absolute;
  top: 30px;
  right: 40px;
  color: white;
  font-size: 36px;
  z-index: 100;
  cursor: pointer;
  transition: all 300ms ease;
}

.modal__exit:hover{
  color: #1a8fe3;
}

.modal__picture--mask{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgb(0, 0, 0, .16);
  margin-bottom: 8px;
}

.modal__picture{
  width: 100%;
}

@media (max-width: 768px){
  .nav{
    padding: 0 20px;
  }

  .nav__link--list{
    display: none;
  }

  .btn__menu{
    display: block;
  }

  .project__description--para{
    font-size: 14px;
  }

  .project__description{
    left: 30px;
    padding-right: 30px;
  }

  .modal{
    top: 0;
    left: 0;
    transform: none;
    height: auto;
    width: 100%;
    flex-direction: column-reverse;
    border-radius: 0;
  }

  .modal__half{
    width: 100%;
  }
}

@media (max-width: 480px){
  .project__description{
    padding: 0;
    left: 0;
    width: 100%;
  }

  .project__description--para{
    display: none;
  }

  .project__description--title{
    font-size: 32px;
    line-height: 1;
    text-align: center;
  }

  .project__description--link{
    display: flex;
    justify-content: center;
    margin-bottom: 6px;
  }

  .project__description--subtitle{
    text-align: center;
    margin: 12px 0;
  }
}